.welcome {
    padding: 0px;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.generate {
    display: flex;
    gap: 2rem;
    width: 90%;
    max-width: 1800px;
    margin: 2rem auto;
    justify-content: center;
}

.box {
    flex: 1;
    padding: 2rem;
    border: 2px solid #f5f2f2;
    border-radius: 20px;
    background-color: white;
    min-width: 500px;
    max-width: 800px;
    height: 78vh;
    overflow-y: auto;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.form-container {
    flex: 1;
    max-width: 800px;
    padding: 1.5rem;
    overflow-y: auto;
}

.output-container {
    flex: 1;
    max-width: 800px;
    padding: 1.5rem;
    background-color: #f3f4f6;
    border-radius: 12px;
    overflow-y: auto;
    height: fit-content;
}

.form-title, .output-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.output {
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
    overflow-wrap: break-word;
}
