.welcome {
    font-size: 10rem;
    padding: 0px;
    width: 100vw;
    margin-top: 6vh;   
    /* margin-right: 90vw; */
    margin-left: 8vw;
}

.title {
    font-size: 2vw;
    font-weight: 400;
}

.generate {
    margin-top: 40px;
    margin-right: 2vw;
    display: flex;
    gap: 2rem;
}

.box {
    flex: 1;
    padding: 30px;
    border: 2px solid #f5f2f2;
    border-radius: 30px;
    height: 57vh;
    max-width: 30vw;
}